

h3{

    color: black;
    text-align: center;
    border-bottom: 3px solid #8e44ad;
    width: 70px;
    margin-bottom: 40px;
}

#about{
    background-color: white;
    padding-left: 140px;
    padding-right: 140px;
}

#about .isi{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.pict{
    width:200px
}

.text{

    width: 450px;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}