*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif,roboto;
}

body{
    color: #000000; /* Warna teks putih agar terlihat jelas */
}

header{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    width:100%;
    align-items: center;
    padding-top: 40px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

ul li a{
    margin-right: 40px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right:10px ;
    padding-bottom: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);

}

a:hover{

    border-bottom: 3px solid rgb(0, 0, 118);
}

article .pengenalan p{
    text-align: center;
}



#profile{
    margin-top : 50px;
}

.foto img{
    width: 300px;
    display: block;
    margin: auto;
}

aside .foto{
    padding-bottom: 30px;
    
}

ul{
    align-items: center;
}
.social{
    display: flex;
    justify-content: center;
}
.social li a{
    padding: 0px;
    margin: 20px;
}

p{
    color: black;
}

strong{
    color: #8e44ad;
}

.fa-brands, .fab {
    text-align: center;
    font-weight: 900;
    font-size: 25px;

}

.social li a{
    color: black;
}

.social li a:hover {
    color: #8e44ad;
    border-bottom: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

/* Tambahkan gaya untuk tombol burger */
.burger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-top: 30px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px;
    transition: 0.4s;
    
}

/* Tampilkan tombol burger hanya pada ukuran layar kecil */
.container {
    transition: margin-left 0.5s;
}

@media (max-width: 768px) {
    .burger-icon {
        display: flex;
        padding-inline-start: 20px;
        color: #000000;
    }

    

    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        background: #8e44ad;
        opacity: 0.9;
        width: 100%;
        position: absolute;
        top: 75px;
        left: 0;
        padding: 20px;
        z-index: 1; /* Pastikan menu tetap di atas elemen konten utama */
    }

    nav.active ul {
        display: flex;
    }

    .container.active {
        margin-left: 100px; /* Sesuaikan dengan lebar menu burger */
        
    }

    ul li a:hover{
        border-bottom: none;
    }

}



h3{

    color: black;
    text-align: center;
    border-bottom: 3px solid #8e44ad;
    width: 70px;
    margin-bottom: 40px;
}

#about{
    background-color: white;
    padding-inline-start: 140px;
    padding-inline-end: 140px;
    padding-top: 60px;
}

#about .isi{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.pict{
    width:180px
}

.text{
    align-items: center;
    width: 450px;
    padding-top: 10px;
}

.text h3{
    color: black;
    width: 130px;
    text-align: left;
    margin-bottom: 20px;
}

.text p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media screen and (max-width: 768px) {
    .isi {
      flex-direction: column-reverse;
      align-items: center;

    }
  
    .text {
      padding-inline-start: 30px;
      text-align: left;
      width: 377px;
      padding-inline-end: 10px;
    }

    .text h3{
        padding-top: 30px;
        width: 35%;
        text-align: left;
    }

    .text p{
        width: 90%;
    }
  
    .pict {
      margin-top: 20px; /* Jarak antara teks dan gambar */
    }

    
    footer{
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
  }
  
ul{
    list-style-type: none;
}

footer{
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    padding-top: 60px;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-inline-start: 140px;
    padding-inline-end: 140px;
}


